<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <form action="forget_password" method="post" style="
     margin-left: 20px;
     margin-top: 20px;" >
      {% csrf_token %}
      <label>Username</label><input type="text" name="username" ><br><br>
      <label>New Password</label><input type="password" name="newPassword" ><br><br>
      <label>New Password</label><input type="password" name="newPassword1" ><br><br>
      <input type="submit" value="Change">
  </form>
  <a href="/" type="button" style="
    color: black;
    text-decoration: none;
    margin-left: 24px;
    border: 0.5px solid black;
    padding: 7px;
    background: #9e9e9e26;
    border-radius: 3px;
    margin-top: 13px;"
    >Cancel</a>
<br><br>
<div class="alert">
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>